/* profile start here for mobile*/


.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.profile .top-weather-icon{
    max-width: 130px;
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover{
    transform: rotate(360deg);
}

.profile-desc h1{
    font-family: 'satisfy', cursive;
    font-size: 3rem;
}

.profile-desc p{
    color: gray;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;
}

.profile .bottom-weather-icon{
    max-width: 130px;
    position: absolute;
    left: 0px;
    bottom: 10px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
}


/* div clearing start*/
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/* div clearing end*/

  /* profile end here for mobile*/
  /* profile start here for desktop*/

.profile .top-weather-icon{
    width: 120px;
    right: 0px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
   width: 150px;
}

.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}

.profile .bottom-weather-icon{
    width: 120px;
    bottom: 20px;
    left: 0px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover{
   width: 150px;
}

.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 0px;

}
 /* profile end here for desktop*/

 /* about me start here */
.about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutme-image img{
    margin-top: 70px;
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-me p{
    text-align: center;
}

.about-me a{
    font-size: 1.2rem;
}


.about-me::after{
    content: '';
    display: table;
    clear: both;
}


  /* about me end here */

  /* about me start here */

.aboutme-image{
    margin-top: 120px;
}

.aboutme-image img{
    height: 290px;
    width: 290px;
}

.aboutme-desc{
    float: right;
    margin-top: -300px;
}
.aboutme-desc p{
    text-align: left;
}

/* about me end here */

